/*
 * Empty Stylesheet file.
 */


.mainFxmlClass {
    -fx-background-color: #0f79a9;
    -fx-border-color: #ffbe0f;
}

.label {
    -fx-font-fill: #ffbe0f;
    -fx-font-weight: bold;
}

.grid-pane{
    
    -fx-border-color:#ffbe0f;
}

.text-field{
    -fx-font: 9.8pt Arial;
    -fx-font-color: #ffbe0f;
    -fx-background-color: #0f79a9;
}

.button{
    -fx-font: 12pt Arial;
    -fx-background-radius: 20;
    -fx-background-color: #0f79a9;
    -fx-font-color: #ffbe0f;
}

.date-picker .combo-box {
-fx-background-insets:0px ;
-fx-border-width: 0px;
  }

.date-picker .text-field{
-fx-background-radius:0px ;
-fx-border-color: transparent;

}

.date-picker .arrow-button{
-fx-background-radius:0px ;
-fx-background-color: #ffbe0f;
}

.date-picker .arrow-button .arrow{
-fx-background-radius:0px ;
-fx-background-color: #0f79a9;
}

.date-picker .arrow-button:hover .arrow{
-fx-background-radius:0px ;
-fx-background-color: white;
 }
 
 .date-picker .year{
     -fx-background-color: #ffbe0f;
 }

.combo-box
 {
    -fx-background-color: #ffbe0f;

 }
 
 .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #ffbe0f;
}
